<!DOCTYPE html>
<html>
  <head>
    <title>SmartThings API App Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SmartThings API App Test</h1>
    <p>
      <a href="<%= url %>">Connect to SmartThings</a>
    </p>
  </body>
</html>
